input,
select,
button {
  padding: 0.8rem;
  font-size: 1rem;
  border: 1px solid #444;
  border-radius: 0.5rem;
  background-color: #1f1f1f;
  color: #ffffff;
}

label {
  font-size: 1.2em;
  color: #ffffff;
}

input:focus,
select:focus {
  outline: none;
  border-color: #ff6f61;
}

input {
  margin-bottom: 1rem;
}

button {
  background-color: #ff6f61;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #e0554f;
}

.logout {
  background-color: #d9534f;
  color: white;
  border: none;
  padding: 0.8rem 1.2rem;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout:hover {
  background-color: #c9302c;
}

a {
  display: flex;
  color: #ff6f61;
  text-decoration: none;
  font-weight: bold;
  margin-top: 1em;
  padding: 1em;
  flex-direction: column;
  bottom: 0;
}

a:hover {
  text-decoration: underline;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #121212;
  color: #e0e0e0;
}

.form-container1 {
  background-color: #292929;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.form-container1 h1 {
  color: #ff6f61;
  margin-bottom: 1.5rem;
}

.form-container1 form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
