body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f6f1de;
  height: 100%;
}

html {
  height: 100%;
  overflow: 0;
}

main {
  display: flex;
  align-content: center;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;
  height: 80%;
  margin: 2em;
}

#map {
  margin: 0;
  width: 55%;
  height: 80%;
  display: flex;
  align-content: center;
  justify-content: center;
  overflow: 0;
  border: solid #453a41 2px;
  border-radius: 1em;
}

.restaurant-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between safe;
  gap: 4em;
  margin-bottom: 20px;
}

.restaurant-div h3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filters {
  width: 7%;
  margin-left: 0.5em;
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: #7a7177;
  border-radius: 2em;
  width: auto;
  padding: 2em;
  height: 50%;
}

.restaurant {
  margin-right: 6em;
}

#filter-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
}

header {
  background-color: #453a41;
  color: white;
  padding: 1.5rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
header h1 {
  margin: 0;
}

.login {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
}
.login a {
  color: white;
  text-decoration: none;
  margin-left: 1rem;
  font-weight: bold;
}

a {
  color: white;
  text-decoration: none;
}

footer {
  background-color: #453a41;
  color: white;
  flex-direction: row;
  padding: 0.5rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
}
